.main-cont-Slist{
    /* border: 1px solid blue; */
    
    height:918px;
}

.section-main-slist{
    height: 110px;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: space-between;
    
font-size: 24px;
font-weight: 700;
text-align: left;

    
}

.section-slist{
    /* border: 1px solid black; */
    height: 85vh;
}

.section-slist1{
    
    height: 840px;
    width: 266px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;




}
.button-shudule{
width: 206px;
height: 45px;
margin-top: 45px;
border-radius: 7px ;




}
.button-shudule-title{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 600;
}

.cal{
    margin-top: 20px;
}

.people-finder-slist1{
width: 206px;
height: 246px;
border: 1px solid red;
border-radius: 7px;
opacity: 0px;
margin-top: 40px;
}