.recoverr{
    width: 1440px;
    height: 1112px;
    top: 890px;
}

.recover{
    background-color: azure;
    width: 658px;
    height: 658px;
    position: absolute;
    top: 227px;
    left: 391px;
    radius:10px
    
}

.recover-logo{
    width: 92px;
    height: 92px;
    margin-left: 300px;
    position: absolute;
    top: 104px;
}

.recover-title{
    margin-left: 300px;
    position: absolute;
    top: 254px;
    font-size: 25px;
    font-weight: 600;
    line-height: 2px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    size: 25px;
}

.email-content{
    width: 104px;
    height: 22px;
    position: absolute;
    top: 400px;
    color: black;
    font-family: Nunito;
    font-weight: 400;
    text-align: right;
    position: absolute;
    left: 73px;
    line-height: 0.2;
    size: 16px;
}

.mailaddress{
    width: 502px;
    height: 50px;
    text-align: left;
    position: absolute;
    top: 430px;
    left: 80px;
    background: rgba(247, 247, 248, 1);
    border: none;
    border-radius: 5px;
    align-items: center;
    color: black;
}
 
.btn{
    width: 502px;
    height: 50px;
    left: 80px;
    position: absolute;
    top: 495px;
    background: rgba(96, 91, 255, 1);
    border: none;
    border-radius: 5px;
}

